<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/nanirambhujel/Downloads/LocalHostAPI">
        <classes><class name="udemy.SerilizationDeserilization"><methods>
            <include name="convertPojo2Json"/><include name="convertJson2Pojo"/>
        </methods></class><class name="udemy.jsonResponse"><methods>
            <include name="JasonResponseAssertion"/>
            <include name="JasonResponseV"/><include name="JasonResponseArray"/>
        </methods>
        </class>
        </classes>
    </test></suite>